.lorem1{
    margin:100px 0px 0px 800px;
    
}

.about img{
    width: 800px;
    height: 436px;
    z-index: 999;
}

.list{
    margin:-400px 0px 0px 900px;
}

.features{
    margin: 300px 0px 0px 100px;
}

.check{
    margin: 20px 0px 0px 100px;
}

.ligne1{
    margin: 20px 0px 0px 100px;
    background-color: rgb(230, 230, 230);
}

.ligne2{
    margin: 20px 0px 0px 100px;
    background-color: rgb(230, 230, 230);
}

.ligne3{
    margin: 20px 0px 0px 100px;
    background-color: rgb(230, 230, 230);
}

.footer{
    margin: 100px 0px 0px 100px;
    background-color: rgb(230, 230, 230);
}
